<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/diplom</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <!--and will be:  Initial SessionFactory failedorg.hibernate.service.spi.ServiceException: Unable to create requested service-->
        <property name="connection.username">artem</property>
        <property name="connection.password">artem</property>
        <!-- NOTE that after automapping with IDEA property username and password will delete -->
        <mapping class="by.bsuir.diplom.entity.Box"/>
        <mapping class="by.bsuir.diplom.entity.Role"/>
        <mapping class="by.bsuir.diplom.entity.Seal"/>
        <mapping class="by.bsuir.diplom.entity.Shift"/>
        <mapping class="by.bsuir.diplom.entity.Worker"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>